vncorenlp
transformers
sentencepiece
emoji==2.14.1
Flask==3.1.1
flask_cors==6.0.0
matplotlib
numpy
pandas
regex==2024.11.6
Requests==2.32.4
torch==2.7.0
underthesea==1.3.5
wordcloud==1.9.4
protobuf==3.20.3